<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">SMS</a>
                </div>
                <!-- Use if helper to determine which navbar to render -->
                {{> adminNav }}
                {{!-- {{> professorNav }}
                {{> studentNav }} --}}
            </div>
        </div>
    </nav>