<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/dashboard">SMS</a>
                </div>
                {{#if admin}}
                    {{> admin/nav }}
                {{else if student}}
                        {{> student/nav}}
                {{else}}
                    {{> professor/nav}}
                {{/if}}
            </div>
        </div>
    </nav>