<div class="container">
        <div class="row">

		<!-- Will change based on user -->

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Basic panel example
                    </div>
                </div>
            </div>

		<!-- End of change -->

        </div>
    </div>