
    <div class="welcome">
        <div class="container">
            <h2>Duis aliquet in ex nec elementum. In commodo molestie libero ornare elementum.</h2>
            <div class="welcm_sec">
                <div class="col-md-9 campus">
                    <div class="campus_head">
                        <h3>Welcome</h3>
                        <p>Nunc justo sapien, cursus at urna at, placerat porttitor tellus. Aliquam vehicula tellus nunc, id pretium lacus placerat dignissim. Donec quis dui sed lacus vulputate scelerisque a sit amet neque.</p>
                    </div>
                    <div class="col-md-3 wel_grid">
                        <img src="images/w1.jpg" class="img-responsive" alt="" />
                        <h5><a href="#">Aliquam sit amet</a></h5>
                        <p>Morbi molestie nec ante ultrices. Cum sociis natoque penatibus et magnis dis parturient</p>
                    </div>
                    <div class="col-md-3 wel_grid">
                        <img src="images/w3.jpg" class="img-responsive" alt="" />
                        <h5><a href="#">Aliquam sit amet</a></h5>
                        <p>Morbi molestie nec ante ultrices. Cum sociis natoque penatibus et magnis dis parturient</p>
                    </div>
                    <div class="col-md-3 wel_grid">
                        <img src="images/w2.jpg" class="img-responsive" alt="" />
                        <h5><a href="#">Aliquam sit amet</a></h5>
                        <p>Morbi molestie nec ante ultrices. Cum sociis natoque penatibus et magnis dis parturient</p>
                    </div>
                    <div class="col-md-3 wel_grid">
                        <img src="images/w4.jpg" class="img-responsive" alt="" />
                        <h5><a href="#">Aliquam sit amet</a></h5>
                        <p>Morbi molestie nec ante ultrices. Cum sociis natoque penatibus et magnis dis parturient</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="more_info">
                        <a href="blog.html">More Info....</a>
                    </div>
                </div>
                <div class="col-md-3 testimonal">
                    <h3>Testimonials</h3>
                    <div class="testimnl-grid">
                        <a href="#">
                            <p>Aenean ultrices commodo risus, id sollicitudin nunc commodo at. Sed sagittis, lacus id viverra eleifend, enim magna.</p>
                        </a>
                        <h5>John.Mr</h5>
                    </div>
                    <div class="testimnl-grid">
                        <a href="#">
                            <p>Aenean ultrices commodo risus, id sollicitudin nunc commodo at. Sed sagittis, lacus id viverra eleifend, enim magna.</p>
                        </a>
                        <h5>John.Mr</h5>
                    </div>
                    <div class="testimnl-grid">
                        <a href="#">
                            <p>Aenean ultrices commodo risus, id sollicitudin nunc commodo at. Sed sagittis, lacus id viverra eleifend, enim magna.</p>
                        </a>
                        <h5>John.Mr</h5>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---->
    <div class="news">
        <div class="container">
            <h3>Top News</h3>
            <div class="event-grids">
                <div class="col-md-4 event-grid">
                    <div class="date">
                        <h4>26</h4>
                        <span>08/2012</span>
                    </div>
                    <div class="event-info">
                        <h5><a href="#">Etiam malesuada feugiat rutrum purus quis vulputate.</a></h5>
                        <p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, volutpat et orci. Aliquam eu tellus orci.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 event-grid">
                    <div class="date">
                        <h4>24</h4>
                        <span>06/2012</span>
                    </div>
                    <div class="event-info">
                        <h5><a href="#">Etiam malesuada feugiat rutrum purus quis vulputate.</a></h5>
                        <p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, volutpat et orci. Aliquam eu tellus orci.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 event-grid">
                    <div class="date">
                        <h4>20</h4>
                        <span>04/2012</span>
                    </div>
                    <div class="event-info">
                        <h5><a href="#">Etiam malesuada feugiat rutrum purus quis vulputate.</a></h5>
                        <p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, volutpat et orci. Aliquam eu tellus orci.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
