/********STYLES**********/

body {
    background-image: url('../images/ticks.png');
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-weight: bold;
}

p,
li,
a,
form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}


/********EXTRA STYLES ON ELEMENTS*****/

.navbar-header {
    background-color: #4aaaa5;
}

.navbar-header .navbar-brand {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    padding: 40px;
}

.navbar {
    background-color: #666666;
    border-top: 6px solid #4aaaa5;
}

.navbar p {
    padding-top: 10px;
}

.content img {
    float: left;
    padding: 0px 15px 15px 0px;
}

.caption {
    background-color: #4aaaa5;
}

.caption h3 {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

#nav-list {
    padding-top: 30px;
}

#login-form {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -150px;
}

.login-btn {
    width: 100%;
}

#sign-in {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0, #4aaaa5 100%);
    background-image: -o-linear-gradient(top, #fff 0, #4aaaa5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#4aaaa5));
    background-image: linear-gradient(to bottom, #fff 0, #4aaaa5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
}

table {
    margin: 10px;
    align-content: center;
}
th, td {
    padding: 5px;
    border: 1px solid #999;
}
th {
    background: #4aaaa5;
    color: #fff;
}
tr:nth-child(odd) {
    background: #eee;
}
tr:hover { 
    background-color: #999;
    color: #fff;
}
td a {
    color: #000;
    text-decoration: underline;
}