.login {
  background-color: #222 !important;
}

.login .content {
  background-color: white;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  width: 400px;
  margin: 40px auto 10px auto;
  padding: 30px;
  padding-top: 10px;
  overflow: hidden;
  position: relative;
}

.login .content h3 {
  color: #00acc1;
  text-align: center;
  font-size: 28px;
  font-weight: 400 !important;
}

.login .content h4 {
  color: #555;
}

.login .content .login-form,
.login .content .forget-form {
  padding: 0px;
  margin: 0px;
}

.login .content .form-control {
  border: none;
  background-color: #e0e0e0;
  height: 43px;
  color: #222;
  border: 1px solid #dde3ec;
}
.login .content .form-control:focus, .login .content .form-control:active {
  border: 1px solid #c3ccda;
}
.login .content .form-control::-moz-placeholder {
  color: #8290a3;
  opacity: 1;
}
.login .content .form-control:-ms-input-placeholder {
  color: #8290a3;
}
.login .content .form-control::-webkit-input-placeholder {
  color: #8290a3;
}

.login .content select.form-control {
  padding-left: 9px;
  padding-right: 9px;
}

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}

.login .content .form-actions {
  clear: both;
  border: 0px;
  border-bottom: 1px solid #eee;
  padding: 25px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}
.login .content .form-actions > .btn {
  margin-top: -2px;
}

.login-options {
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.login-options h4 {
  float: left;
  font-weight: 600;
  font-size: 15px;
  color: #7d91aa !important;
}

.login-options .social-icons {
  float: right;
  padding-top: 3px;
}

.login-options .social-icons li a {
  border-radius: 15px 15px 15px 15px !important;
  -moz-border-radius: 15px 15px 15px 15px !important;
  -webkit-border-radius: 15px 15px 15px 15px !important;
}

.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .form-actions .btn {
  font-weight: 600;
  padding: 10px 20px !important;
}

.login .content .form-actions .btn-default {
  font-weight: 600;
  padding: 10px 25px !important;
  color: #6c7a8d;
  background-color: #ffffff;
  border: none;
}

.login .content .form-actions .btn-default:hover {
  background-color: #fafaff;
  color: #45b6af;
}

.login .content .forget-password {
  font-size: 14px;
  float: right;
  display: inline-block;
  margin-top: 10px;
}

.login .content #login-btn,
.login .content #register-submit-btn,
.login .content #forget-submit-btn {
  background: #00acc1;
  color: white;
}

.login .content #register-back-btn,
.login .content #back-btn {
  border-color: #00acc1;
  color: #00acc1;
  background: 0 0;
}

.login .content #login-btn:hover,
.login .content #register-submit-btn:hover,
.login .content #forget-submit-btn:hover {
  color: #FFFFFF;
  background-color: #4dd0e1;
  border-color: #26c6da;
}

.login .content #register-back-btn:hover,
.login .content #back-btn:hover {
  background: #00acc1;
  color: white;
}

.login .content #login-btn:active,
.login .content #register-submit-btn:active,
.login .content #forget-submit-btn:active {
  color: #FFFFFF;
  background-color: #4dd0e1;
  border-color: #26c6da;
}

.login .content .check {
  color: #8290a3;
}

.mt-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.mt-checkbox.mt-checkbox-disabled {
  opacity: 0.8 ;
  filter: alpha(opacity=80) ;
  cursor: not-allowed;
}
.mt-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0 ;
  filter: alpha(opacity=0) ;
}
.mt-checkbox > span {
  border: 1px solid transparent;
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  background: #E6E6E6;
}
.mt-checkbox > span:after {
  content: '';
  position: absolute;
  display: none;
}
.mt-checkbox:hover > input:not([disabled]) ~ span,
.mt-checkbox > input:focus ~ span {
  background: #d9d9d9;
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.mt-checkbox > input:checked ~ span {
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #d9d9d9;
}
.mt-checkbox > input:checked ~ span:after {
  display: block;
}
.mt-checkbox:hover > input:not([disabled]):checked ~ span,
.mt-checkbox > input:checked ~ span {
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #d9d9d9;
}
.mt-checkbox > input:disabled ~ span {
  opacity: 0.6 ;
  filter: alpha(opacity=60) ;
  pointer-events: none;
}
.mt-checkbox.mt-checkbox-outline > span {
  border: 1px solid #d9d9d9;
  background: none;
}
.mt-checkbox.mt-checkbox-outline:hover > input:not([disabled]) ~ span,
.mt-checkbox.mt-checkbox-outline > input:focus ~ span {
  border: 1px solid #d9d9d9;
  background: none;
}
.mt-checkbox.mt-checkbox-outline > input:checked ~ span {
  border: 1px solid #d9d9d9;
  background: none;
}
.mt-checkbox.mt-checkbox-outline:hover > input:not([disabled]):checked ~ span,
.mt-checkbox.mt-checkbox-outline > input:checked ~ span {
  border: 1px solid #d9d9d9;
  background: none;
}

.mt-checkbox > span:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #888888;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.mt-checkbox > input:disabled ~ span:after {
  border-color: #888888;
}

.login .content .rememberme {
  margin-left: 8px;
}

.login .content .create-account {
  margin: 0 -40px -30px -40px;
  padding: 15px 0 17px 0;
  text-align: center;
  background-color: #6d6b6b;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  text-transform: uppercase !important;
}
.login .content .create-account > p {
  cursor: pointer;
  margin: 0;
}

.login .content .create-account p a {
  font-weight: 600;
  font-size: 14px;
  color: #e0e0e0;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto 30px 0;
  padding: 10px;
  color: #7a8ca5;
  font-size: 13px;
}

/***
Social Icons
***/
.social-icons {
  padding: 0;
  margin: 0;
}
.social-icons:before, .social-icons:after {
  content: " ";
  display: table;
}
.social-icons:after {
  clear: both;
}
.social-icons li {
  float: left;
  display: inline;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 5px;
  text-indent: -9999px;
}
.social-icons li > a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 28px;
  height: 28px;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.social-icons li:hover > a {
  background-position: 0 -38px;
}
.social-icons li .facebook {
  background: url(../images/social/facebook.png) no-repeat;
}
.social-icons li .github {
  background: url(../images/social/github.png) no-repeat;
}
.social-icons li .googleplus {
  background: url(../images/social/googleplus.png) no-repeat;
}
.social-icons li .linkedin {
  background: url(../images/social/linkedin.png) no-repeat;
}
.social-icons li .twitter {
  background: url(../images/social/twitter.png) no-repeat;
}
.social-icons.social-icons-color > li > a {
  opacity: 0.7;
  background-position: 0 -38px !important;
}
.social-icons.social-icons-color > li > a:hover {
  opacity: 1;
}
.social-icons.social-icons-circle > li > a {
  border-radius: 25px !important;
}

/***
Inline Social Icons
***/
.social-icon {
  display: inline-block !important;
  width: 28px;
  height: 28px;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out; }
.social-icon.social-icon-circle {
  border-radius: 25px !important; }

.social-icon.facebook {
  background: url(../images/social/facebook.png) no-repeat; }

.social-icon.github {
  background: url(../images/social/github.png) no-repeat; }

.social-icon.googleplus {
  background: url(../images/social/googleplus.png) no-repeat; }

.social-icon.linkedin {
  background: url(../images/social/linkedin.png) no-repeat; }

.social-icon.twitter {
  background: url(../images/social/twitter.png) no-repeat; }

.social-icon:hover {
  background-position: 0 -38px; }

.social-icon-color {
  opacity: 0.7;
  background-position: 0 -38px !important; }
.social-icon-color:hover {
  opacity: 1; }

@media (max-width: 440px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top: 10px;
  }
  .login .content {
    width: 280px;
    margin-top: 10px;
  }
  .login .content h3 {
    font-size: 22px;
  }
  .forget-password {
    display: inline-block;
    margin-top: 20px;
  }
  .login-options .social-icons {
    float: left;
    padding-top: 3px;
  }
  .login .checkbox {
    font-size: 13px;
  }
}