/********STYLES**********/

body {

    background-image: url('../images/body-background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    padding-bottom: 70px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-weight: bold;
}

p,
li,
a,
form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}


/********EXTRA STYLES ON ELEMENTS*****/

.navbar-header {
    background-color: #4aaaa5;
}

.navbar-header .navbar-brand {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    padding: 40px;
}

.navbar {
    background-color: #666666;
    border-top: 6px solid #4aaaa5;
}

.navbar p {
    padding-top: 10px;
}

#nav-list {
    padding-top: 30px;
}

#login-form {
    position: absolute;
    width: 300px;
/*    height: 400px;*/
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -150px;
}

.login-btn {
    width: 100%;
}

table {
    margin: 10px;
    align-content: center;
}

th,
td {
    padding: 5px;
    border: 1px solid #999;
}

th {
    background: #4aaaa5;
    color: #fff;
}


/*tr:nth-child(odd) {
    background: #eee;
}*/


/*tr:hover {
    background-color: #999;
    color: #fff;
}*/

td a {
    color: #000;
    text-decoration: underline;
}


/*login*/

.blur {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
}

#personal-info h2 {
    margin-top: 0;
}

#personal-info .col-md-6:last-of-type p {
    margin-bottom: 5px;
}

#personal-info .col-md-6:last-of-type p:first-child {
    margin-top: 43px;
}

.action-button {
    margin-bottom: 20px;
}

#grades {
    margin-bottom: 100px;
}

#grade-name-title {
    height: 40px;
}

#grade-name {
    height: 49px;
}

.panel-title{
    color: #4aaaa5;
}

.whiteBg {
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #4aaaa5;
    border-radius: 5px;
}

form {
    padding: 30px;
}

/*.chart {*/
/**/
/*}*/

.amcharts-pie-slice {
    transform: scale(1);
    transform-origin: 50% 50%;
    transition-duration: 0.3s;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    cursor: pointer;
    box-shadow: 0 0 30px 0 #000;
}

.amcharts-pie-slice:hover {
    transform: scale(1.1);
    filter: url(#shadow);
}