<div class="content">
    <form class="forget-form" action="/forgotpassword" method="post">
        <h3 class="font-green">Forgot your password?</h3>
        <p> Enter your e-mail address below to reset your password. </p>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
            <button type="submit" id="forget-submit-btn" class="btn uppercase pull-right">Submit</button>
        </div>
    </form>
</div>
<script>
    $("body").addClass("login");
</script>
