<div id="nav-list">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/dashboard">Home</a></li>
        <li><a href="#">Semester</a></li>
        <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Classes <span class="caret"></span>
    </a>
            <ul class="dropdown-menu">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
            </ul>
        </li>
        <li><a href="#">Professors</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>