<div id="nav-list">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Semester</a></li>
        <li><a href="#">Classes</a></li>
        <li><a href="#">Students</a></li>
        <li><a href="/dashboard">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>