{{!-- For each deparment, display a panel with H3 as title and description beneath --}} {{!-- Each title will be a link to click on --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="/dashboard/admin/departments">Departments</a></h3>
                </div>
                <div class="panel-body">
                    {{#each panels as |panel|}}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <a href="/dashboard/admin/departments/{{panel.title}}">
                                <div class="panel-body">
                                    <div class="page-header">
                                        <h3>{{panel.title}}</h3>
                                        {{#each panel.descriptions as |desc|}}
                                    <p>{{desc}}</p>
                                    {{/each}}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
