
{{!-- Hardcoded panels for admin dashboard. we can change the available panels if needed --}}
<div class="container">
    <div class="row">
        <!-- Will change based on user -->
        <div class="col-md-4">
            <div class="panel panel-default whiteBg">
                <div class="panel-body">
                    <div class="page-header">
                        <h3><a href="/dashboard/admin/departments">Departments</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default whiteBg">
                <div class="panel-body">
                    <div class="page-header">
                        <h3><a href="/dashboard/admin/professors">Professors</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default whiteBg">
                <div class="panel-body">
                    <div class="page-header">
                        <h3><a href="/dashboard/admin/students">Students</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default whiteBg">
                <div class="panel-body">
                    <div class="page-header">
                        <h3><a href="#">Courses</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default whiteBg">
                <div class="panel-body">
                    <div class="page-header">
                        <h3><a href="/dashboard/admin/departments/departments/add-department">Add Department</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default whiteBg">
                <div class="panel-body">
                    <div class="page-header">
                        <h3><a href="/dashboard/admin/departments/departments/add-professor">Add Professor</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of change -->
    </div>
</div>
