<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default whiteBg">
                <div class="panel-heading">
                    {{!-- The link around the departments is a makeshift breadcrumbs --}}
                    <h3 class="panel-title"><a href="/dashboard/admin/departments">Departments</a> > <a href="/dashboard/admin/departments">{{this.title}}</a></h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <a href="{{this.title}}/courses">
                                <div class="panel-body">
                                    <div class="page-header">
                                        <h3>Courses</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <a href="{{this.title}}/professors">
                                <div class="panel-body">
                                    <div class="page-header">
                                        <h3>Professors</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <a href="{{this.title}}/students">
                                <div class="panel-body">
                                    <div class="page-header">
                                        <h3>Students</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
