        <div class="row">
            <table>
                <thead> 
                    <th>ID</th> 
                    <th>Department Name</th> 
                </thead> 
                <tbody> 
                    {{#departments}} 
                    <tr> 
                        <td>{{id}}</td> 
                        <td>{{name}}</td> 
                    </tr> 
                    {{/departments}} 
                </tbody> 
            </table> 
        </div>