{{!-- For each deparment, display a panel with H3 as title and description beneath --}}
{{!-- Each title will be a link to click on --}}

<div class="container">
    <div class="row">
        <!-- Will change based on user -->
        {{#each department}}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header">
                        <h3><a href="/admin/department">{{title}}</a></h3>
                    </div>
                    <p>{{descriptions}}</p>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>
