<div id="nav-list">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="dashboard/admin/departments">Departments</a></li>
        <li><a href="#">Professors</a></li>
        <li><a href="#">Students</a></li>
        <li><a href="#">Schedules</a></li>
        <li><a href="#">Buildings</a></li>
    </ul>
</div>
